@import url('https://fonts.googleapis.com/css2?family=Acme&family=Indie+Flower&family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Lobster&family=Open+Sans:wght@400;600&family=Oswald&family=Playfair+Display:wght@400;600&family=Poppins:wght@300;400;500;600;700&family=Righteous&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  background-color: #010026;
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes glow {
  0% {
    color: rgba(0, 255, 0, 0.5);
  }

  50% {
    color: rgb(0, 255, 0);
  }

  100% {
    color: rgba(0, 255, 0, 0.5);
  }
}

.animate-glow {
  animation: glow 2s ease-in-out infinite;
}

.svg {
  background-image: url(../public/assets/JavaScript.webp);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes fadeInBg {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
