@import url('https://fonts.googleapis.com/css2?family=Acme&family=Indie+Flower&family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Lobster&family=Open+Sans:wght@400;600&family=Oswald&family=Playfair+Display:wght@400;600&family=Poppins:wght@300;400;500;600;700&family=Righteous&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  background-color: #010026;
  color: #fff;
}
